<div class="row m-2 justify-content-center">
    <div class="col-md-5 col-xl-4 col-sm-12 col-lg-4 p-2">
        <div class="p-1 shadow rounded" align="center">
          <div class="row">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="col-12" value="Ingreso">
                <mat-button-toggle mat-flat-button value="Ingreso" routerLink="/logueo" class="col-6 lineaPuntoAmarilloDer m-0 btn-outline-danger">
                    Ingreso
                </mat-button-toggle>
            <mat-button-toggle mat-flat-button value="Registro" routerLink="/registro" class="col-6 btn-outline-danger">
              <div class="col-6">
                  Registro
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>
          </div>
            <div class="col-12 p-0 m-0">
                <hr class="lineaPuntoAmarillo m-0">
            </div>
            <!--caja de logo-->
            <div class="p-0">
                <img src="../../assets/icons/icon-152x152.png" alt="LogoUndervisa">
            </div>
            <!-- fin caja de logo-->
            <form align="center" [formGroup]="formLogin" class="mt-1 text-white">
                <!--Inicio email -->
                <mat-form-field class="form-group col-12 bg-transparent">
                  <div class="form-control rounded-pill bg-transparent sobraActivo text-white"style="padding-bottom: 0% !important;">
                    <input class="bg-transparent " matInput formControlName="email" placeholder="Correo" type="email" required>
                  </div>
                      <mat-error *ngIf="formLogin.controls.email.invalid">{{errorCorreo()}}</mat-error>
                </mat-form-field>
                <!--Fin email-->
                <!--Inicio clave-->
                <mat-form-field class="form-group col-12 pb-0 mb-0">
                  <div class="form-control rounded-pill bg-transparent sobraActivo text-white pb-0">
                    <input matInput formControlName="clave" placeholder="Contraseña" type="password" required>
                  </div>
                      <mat-error *ngIf="formLogin.controls.clave.invalid">{{errorClave()}}</mat-error>
                </mat-form-field>
                <!--Fin clave-->
                <!-- Terminos y condiciones -->
                <div class="col-12">
                  <mat-checkbox formControlName="terminos">Acepto
                      <a class="text-warning" href="http://inscripcion.undervisa.ga/Terminos%20y%20condiciones-convertido.pdf" target="_blank" >
                        Termino y condicions
                      </a>
                  </mat-checkbox>
                  <mat-error class="position-fixed" *ngIf="formLogin.controls.terminos.invalid">{{errorTerminos()}}</mat-error>
                </div>


                <!-- Fin Terminos y condiciones -->
                <!-- Inicio botones formulario -->
                <div class="col-12">
                <!-- Inicio boton inicio de sesion -->
                  <button mat-button mat-raised-button [disabled]="formLogin.invalid" (click)="login()" type="submit" class="btn-block rounded-pill btn-warning sobraActivoAmarillo">Ingresar</button>
                <!-- Fin boton inicio de sesion -->
                <!-- Inicio de botones redes sociales -->
                <div class="pt-3 row" align="center">
                  <div class="col-6 pr-1">
                      <button mat-raised-button [disabled]="formLogin.controls.terminos.invalid" (click)="facebookLogin()" routerLink="/deshboard" type="submit" class="rounded-pill btn-block sobraActivoFB">
                        <img src="../assets/facebook.png" alt="Logo Facebook">
                      </button>
                  </div>
                  <div class="col-6 pl-1">
                    <button mat-raised-button [disabled]="formLogin.controls.terminos.invalid" (click)="googleLogin()" routerLink="/deshboard" type="submit" class="rounded-pill btn-block sobraActivo iconoGoogle"> <img src="../assets/google.png" alt="Logo Google"></button>
                  </div>
                </div>
                <!-- Fin de botones redes sociales -->
                </div>
                <!-- Fin botones formulario -->
            </form>
            <div class="col-12 p-0">
                <hr class="lineaPuntoAmarillo">
            </div>
            <div class="col-12 pb-4">
                <button mat-stroked-button (click)="olvideClave()" type="submit" class="btn-block rounded-pill btn-outline-dark sobraActivo text-white">Recorde contraseña</button>
            </div>
        </div>
    </div>
</div>
  <!--   otros diseños de colores -->
<!--   <div class="row m-4">
      <div class="col-md-5">
          <div class=" p-3 shadow-lg rounded">
              <div class="pt-3">

              </div>

              <form class="mt-5">
                  <div class="form-group">
                      <input type="email"
                          class="form-control form-control-sm bg-light"
                          placeholder="Email Id">
                  </div>

                  <div class="form-group">
                      <input type="password"
                          class="form-control form-control-sm bg-light"
                          placeholder="Password">
                  </div>

                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="rememberCheckBox">
                      <label class="form-check-label text-light" for="rememberCheckBox">Remember me?</label>
                  </div>

                  <div class="mt-5">
                      <button class="btn btn-sm btn-light col">
                          Login
                      </button>
                  </div>

                  <div class="text-center mt-2">
                      <a href="#" class="text-warning">Forgot Password?</a>
                  </div>

                  <div class="mt-5">
                      <p class="text-white text-center">
                          Don't have an account?
                          <a href="#" class="text-warning">Click here to register</a>
                      </p>
                  </div>
              </form>
          </div>
      </div>
      <div class="col-md-5">
          <div class="login-card-purple p-3 shadow-lg rounded">
              <div class="pt-3">
                  <h2 class="text-white ">Sign In | Purple</h2>
              </div>

              <form class="mt-5">
                  <div class="form-group">
                      <input type="email"
                          class="form-control form-control-sm bg-light"
                          placeholder="Email Id">
                  </div>

                  <div class="form-group">
                      <input type="password"
                          class="form-control form-control-sm bg-light"
                          placeholder="Password">
                  </div>

                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="rememberCheckBox">
                      <label class="form-check-label text-light" for="rememberCheckBox">Remember me?</label>
                  </div>

                  <div class="mt-5">
                      <button class="btn btn-sm btn-light col">
                          Login
                      </button>
                  </div>

                  <div class="text-center mt-2">
                      <a href="#" class="text-warning">Forgot Password?</a>
                  </div>

                  <div class="mt-5">
                      <p class="text-white text-center">
                          Don't have an account?
                          <a href="#" class="text-warning">Click here to register</a>
                      </p>
                  </div>
              </form>
          </div>
      </div>

      <div class="col-md-5">
          <div class="login-card-light p-3 shadow-lg rounded">
              <div class="pt-3">
                  <h2 class="text-danger">Sign In | Light</h2>
              </div>

              <form class="mt-5">
                  <div class="form-group">
                      <input type="email"
                          class="form-control form-control-sm"
                          placeholder="Email Id">
                  </div>

                  <div class="form-group">
                      <input type="password"
                          class="form-control form-control-sm"
                          placeholder="Password">
                  </div>

                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="rememberCheckBox">
                      <label class="form-check-label text-dark" for="rememberCheckBox">Remember me?</label>
                  </div>

                  <div class="mt-5">
                      <button class="btn btn-sm btn-danger col">
                          Login
                      </button>
                  </div>

                  <div class="text-center mt-2">
                      <a href="#">Forgot Password?</a>
                  </div>

                  <div class="mt-5">
                      <p class="text-center">
                          Don't have an account?
                          <a href="#">Click here to register</a>
                      </p>
                  </div>
              </form>
          </div>
      </div>

      <div class="col-md-5">
          <div class="login-dark p-3 shadow-lg rounded">
              <div class="pt-3">
                  <h2 class="text-white ">Sign In | Dark</h2>
              </div>

              <form class="mt-5">
                  <div class="form-group">
                      <input type="email"
                          class="form-control form-control-sm bg-light"
                          placeholder="Email Id">
                  </div>

                  <div class="form-group">
                      <input type="password"
                          class="form-control form-control-sm bg-light"
                          placeholder="Password">
                  </div>

                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="rememberCheckBox">
                      <label class="form-check-label text-light" for="rememberCheckBox">Remember me?</label>
                  </div>

                  <div class="mt-5">
                      <button class="btn btn-sm btn-light col">
                          Login
                      </button>
                  </div>

                  <div class="text-center mt-2">
                      <a href="#" class="text-warning">Forgot Password?</a>
                  </div>

                  <div class="mt-5">
                      <p class="text-white text-center">
                          Don't have an account?
                          <a href="#" class="text-warning">Click here to register</a>
                      </p>
                  </div>
              </form>
          </div>
      </div>
  </div> -->

