  <div class="contenidoApp" *ngIf="vista === 0">
    <br>
      <div class="col-md-12 text-center text-white moradoDegradado fixed-top">
          <h1>Señales Activas</h1>
      </div>
  <div class="container">
      <br>
    <div class="row justify-content-md-center justify-content-sm-center">
      <ng-container *ngFor="let senal of senales" [ngSwitch]="senal.orden" >
          <mat-card class="col-md-12 col-sm-12 text-white moradoDegradado">
              <div class="col-12 text-center">
                  <H3>💵{{senal.grupoDivisa}}💵</H3>
                    <h4 *ngSwitchCase="'SELL'" [ngStyle]="{'color': 'red'}">📉SELL📉</h4>
                    <h4 *ngSwitchCase="'SELL STOP'" [ngStyle]="{'color': 'red'}">📉SELL STOP📉</h4>
                    <h4 *ngSwitchCase="'SELL LIMIT'" [ngStyle]="{'color': 'red'}">SELL LIMIT</h4>
                    <h4 *ngSwitchCase="'SELL STOP LIMIT'" [ngStyle]="{'color': 'red'}">SELL STOP LIMIT</h4>
                    <h4 *ngSwitchCase="'BUY'" [ngStyle]="{'color': 'green'}">📈BUY📈</h4>
                    <h4 *ngSwitchCase="'BUY STOP'" [ngStyle]="{'color': 'green'}">BUY STOP</h4>
                    <h4 *ngSwitchCase="'BUY LIMIT'" [ngStyle]="{'color': 'green'}">BUY LIMIT</h4>
                    <h4 *ngSwitchCase="'BUY STOP LIMIT'" [ngStyle]="{'color': 'green'}">BUY STOP LIMIT</h4>
                </div>
              <div class="row text-center">
                  <div class="col-4 rounded" >
                      <h4>SL</h4>
                      👁‍🗨{{senal.sl}}👁‍🗨
                    </div>
                <div class="col-4">
                    <h4>Precio Entrada: {{senal.precioEntrada}}</h4>
                    <h5>Lotaje: {{senal.lotaje}}</h5>
                </div>
              <div class="col-4 rounded" >
                  <h4>TP</h4>
                1: 🎯{{senal.tp1}}🎯
                <br>
                2: 🎯{{senal.tp2}}🎯
                <br>
                3: 🎯{{senal.tp3}}🎯
              </div>
              <div class="col-12">
                  <div class="row">
                    <div class="col-4">
                      <a mat-fab routerLink="/crear/{{senal.id}}" style="text-decoration: none;">
                        <mat-icon>edit</mat-icon>
                       <br>
                      </a>
                    </div>
                    <div class="col-4">
                      <button mat-fab>
                      <mat-checkbox ></mat-checkbox>
                      <!-- <br>Copiado -->
                    </button>
                    </div>
                    <div class="col-4">
                      <button mat-fab (click)="consularSenal(senal.id)" >
                      <mat-icon  >visibility</mat-icon>
                    </button>
                      <!-- <br>
                      Detatalle -->
                    </div>
                  </div>
                </div>
            </div>
          </mat-card>
      </ng-container>
          <button id="btnNuevo" mat-fab  routerLink="/crear/new">
            <mat-icon style="display: flex;">playlist_add</mat-icon>
          </button>

    </div>
  </div>
</div>

<div class="contenidoApp" *ngIf="vista === 1">
  <br>
    <div class="col-md-12 text-center text-white moradoDegradado fixed-top">
      <div class="row">
        <div class="col-12">
            <h1>Detalle Señales</h1>
        </div>
      </div>
    </div>
    <br>
    <br>
<div class="container">
     <div class="row justify-content-md-center justify-content-sm-center">
            <mat-card class="col-md-6 col-sm-12 tarjetaSenal" [ngSwitch]="senal.orden" >
                <span class="idFecha ">{{senal.id | date:"dd/MM/yyyy hh:mm"}}</span>
              <div class="row text-center">
                <div class="col-12">
                  <H3>💵{{senal.grupoDivisa}}💵</H3>
                    <h4 *ngSwitchCase="'SELL'" [ngStyle]="{'color': 'red'}">📉SELL📉</h4>
                    <h4 *ngSwitchCase="'SELL STOP'" [ngStyle]="{'color': 'red'}">📉SELL STOP📉</h4>
                    <h4 *ngSwitchCase="'SELL LIMIT'" [ngStyle]="{'color': 'red'}">SELL LIMIT</h4>
                    <h4 *ngSwitchCase="'SELL STOP LIMIT'" [ngStyle]="{'color': 'red'}">SELL STOP LIMIT</h4>
                    <h4 *ngSwitchCase="'BUY'" [ngStyle]="{'color': 'green'}">📈BUY📈</h4>
                    <h4 *ngSwitchCase="'BUY STOP'" [ngStyle]="{'color': 'green'}">BUY STOP</h4>
                    <h4 *ngSwitchCase="'BUY LIMIT'" [ngStyle]="{'color': 'green'}">BUY LIMIT</h4>
                    <h4 *ngSwitchCase="'BUY STOP LIMIT'" [ngStyle]="{'color': 'green'}">BUY STOP LIMIT</h4>
                    <h4>Precio Entrada: {{senal.precioEntrada}}</h4>
                    <h5>Lotaje: {{senal.lotaje}}</h5>
                </div>
              <div class="col-6">
                <h4>SL</h4>
                👁‍🗨{{senal.sl}}👁‍🗨
              </div>
              <div class="col-6">
                  <h4>TP</h4>
                1: 🎯{{senal.tp1}}🎯
                <br>
                2: 🎯{{senal.tp2}}🎯
                <br>
                3: 🎯{{senal.tp3}}🎯
              </div>
            </div>
            </mat-card>
<br>
    <h3>Grafica</h3>
    <br>
<mat-card>



        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_9809b"></div>
    <div class="tradingview-widget-copyright"><a href="https://es.tradingview.com/symbols/OANDA-EURJPY/" rel="noopener" target="_blank"><span class="blue-text">EURJPY Gráfico</span></a>deTradingView</div>
    <script type="text/javascript">

    </script>
  </div>
  <!-- TradingView Widget END -->
</mat-card>
     </div>
</div>
<button mat-icon-button class="col-1">
    <mat-icon (click)="anterior()">reply</mat-icon>
  </button>
  <button id="btnNuevo" mat-fab  (click)="anterior()">
    <mat-icon style="display: flex;">reply</mat-icon>
  </button>
</div>
