/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */




@media (max-width: 600px) {
  #despegable{
    position:fixed;
    top:50%;
    left: 0%;
    padding: 0 0 0 0 !important;
    margin: 0% !important;
    border: 0ch !important;
    background-color: transparent
  }
  #EspacioBotonCentro{
    padding: 1.5rem !important;
  }

body{
  font-size: 16px !important;
 }
  }

@media (min-width: 601px)  {

  #despegable{
    position:fixed;
    top:50%;
    left: 0%;
    padding: 0 0 0 0;
    background-color: transparent
  }


body{
font-size: 18px !important;
}
  }

html{
    height: -webkit-fill-available;
  }
html, body {
  height: 100%;
}
body{
    /* min-height: 700px; */
/*     background: -webkit-gradient(linear, left bottom, right top, from(rgb(75, 160, 173)), to(rgb(11, 15, 126))); */
background: linear-gradient(14deg, #575b5d, #252b2d);
}
.mat-drawer-container{
  position: inherit !important
}

.mat-form-field{
  text-align: center !important;


}
.mat-form-field-infix{
  border-top-width: 0px !important;
  padding-top: 0px !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label{
  color: #ffc107;
  font-family: 'Patrick Hand', cursive !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
  color:#000000 ;
  font-family: 'Patrick Hand', cursive !important;
}

.contenidoApp{

  background: transparent
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rounded-pill{
  color:#ffffff;
  font-family: 'Patrick Hand', cursive !important;
}

.fondoImagen{
  background-image: url("assets/FondoImagen.png");
  background-size: cover;
  background-attachment: fixed;

}
.fondoAzul{
  background-image: url("assets/FondoImagen.png");
  background-size: cover;
  background-attachment: fixed;
  background-image: url("assets/fondoColor.png");
}

.fondoTarjeta{
  background-color: rgba(6, 46, 53, 0.322);
}
.btnAccionGrande{
  width: 246px !important;
  height: 36px !important;
  font-size: 20px !important;
  color: #ffffff;
  font-family: 'Patrick Hand', cursive !important;
}

.azulDegradado{

  background: -webkit-gradient(linear, left top, right bottom, from(rgb(4, 54, 61)), to(rgb(6, 6, 37)));
}

.moradoDegradado{
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(231, 109, 205)), to(rgb(112, 64, 206)));
}

.btnAccionSmall{
  width: 112px !important;
  height: 36px !important;
  color: #ffffff;
}

.mat-horizontal-stepper-header-container {
  background-color:#ffffff !important;
  font-family: 'Patrick Hand', cursive !important;
}

.mat-card {
  /* background:  rgba(212, 0, 255, 0.459)!important; */
  margin: 2% !important;

}
.mat-horizontal-content-container{
  padding: 0% !important;
}

.textoLargo{
  font-family: 'Patrick Hand', cursive !important;
  text-align: justify;
  font-size: 20px !important;
  overflow : auto !important;
  width : 100% !important;
  height : 250px;
  padding: 0,0,0,0 !important;
  background-color: rgba(21, 4, 51, 0.527);
}

.btnAccionSmall{
  width: 112px !important;
  height: 36px !important;
  color: #ffffff;
}

.datos{
  background-color:rgba(214, 206, 228, 0.459)!important;
  color: #000000;
}
#deshboard{
  margin: 0 0 0 0 !important;
  width: 100%;
}


#contenido{
  height: 100%;
}
.tarjetaSenal{
  background-color:rgba(255, 255, 255, 0.425) !important;
  margin: 5px 5px 5px 5px !important;

}
.tarjetaSenalOscuro{
  background-color:rgba(0, 0, 0, 0) !important;
  margin: 5px 5px 5px 5px !important;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}
.idFecha{
  font-size: 16px !important;
}

.tituloSenal{
    height: 5em;
    left: 0;
    top: 0;
    width: 100%;
  position:fixed !important;
}
.swal-text{
  text-align: center
}

/*===================================Version 2=============================================*/


.login-card-purple {
  background: linear-gradient(145deg, #673AB7, #9C27B0);
}

.login-card-light {
  background: linear-gradient(145deg, #eee, #fff);
}

.login-dark {
  background: linear-gradient(145deg, #575b5d, #252b2d);
}
.sobraActivo:hover{
  box-shadow: 0 0.5rem 1rem rgba(195,197,199,1) !important;
}
.sobraActivoAmarillo:hover{
  box-shadow: 0 0.5rem 1rem #ffc107 !important;
}
.sobraActivoFB:hover{
  box-shadow: 0 0.5rem 1rem #3B5998 !important;
}
.sobraActivoFB{
  background-color: #3B5998
}

.iconoGoogle{
background-color: #ffffff
}

.lineaPuntoAmarillo {
  border-bottom:  #ffc107 2px dotted;
}

.lineaPuntoAmarilloArriba {
  border-top:  #ffc107 2px dotted;
}

.lineaPuntoAmarilloDer {
  border-right:  #ffc107 2px dotted !important;
}
.lineaPuntoAmarilloIzq {
  border-left:  #ffc107 2px dotted !important;
}

.triangulo-equilatero-bottom-izq {
  width: 0;
  height: 0;
  border-radius: 50% 0 0 0;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #ffc107;
}

.triangulo-equilatero-bottom-der {
  width: 0;
  height: 0;
  border-bottom: 50px solid #ffc107;
  border-left: 50px solid transparent;

}
.profundidad{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 253, 253, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 0 0px 1000px #252b2d inset;

}
.mat-button-toggle-checked{
  background-color:  rgba(1, 80, 160, 0.623) !important;
  color: #ffc107 !important;
}
.swal-modal{
  background-color: #010647d8 !important;
}
.swal-title, .swal-text{
  color: #ffffff !important
}
.swal-button{
  background-color: #ffc107;
  color: #000000
}
.swal-button:hover{
  background-color: #dc3545 !important
}

.btnCentro{
  position:fixed !important;
  bottom: 4% !important;
  z-index: 1031;
}
.mat-expansion-panel{
  background: #252b2da4
}

.mat-tab-header  {
  background: #ffc107
}
.mat-tab-label{
  font-family: 'Patrick Hand', cursive !important;
  text-align: justify;
  font-size: 20px !important;
  color: #000000;

}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #f44336
}

.mat-expansion-indicator::after, .mat-expansion-panel-header-description{
 color: #ffffff
}
