/* You can add global styles to this file, and also import other style files */
body{
  width: 100% !important;
  font-family: 'Kalam', bold !important;
  font-size: 20px !important;
}



.fondoImagen{
  background-image: url("assets/FondoImagen.png");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;

}
.fondoAzul{
  background-image: url("assets/FondoImagen.png");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-image: url("assets/fondoColor.png");
}
#logo{
  background-color: navajowhite;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  padding: 0 0 0 0;

}
.btnAccionGrande{
  width: 246px !important;
  height: 36px !important;
  font-size: 20px !important;
  color: #ffffff;
}

.azulDegradado{
  background: -webkit-gradient(linear, left top, right bottom, from(#0DC9E5), to(#20228F));
}

.btnAccionSmall{
  width: 112px !important;
  height: 36px !important;
  color: #ffffff;
}
