
<div class="text-white fondoImagen">
    <mat-icon (click)="anterior()" style="display: flex;">reply</mat-icon>

  <div class="container">
      <div  class="row justify-content-center">
          <!--caja de logo-->
          <div id="logo" class="col col-2">
              <div >Logo</div>

          </div>
         <!-- fin caja de logo-->
      </div>
<br>

<mat-horizontal-stepper #stepper class="transparente" *ngIf="paso === 1">
    <mat-step>
      <form >
        <ng-template matStepLabel >Bienvenida</ng-template>
        <br>
        <div align="center" style="margin-top: 30px;" >
            <h4 class="text-warning">Dile SI</h4>
            <span>a todo lo que te imaginas para ser el dueño de tu propia
              <span class="text-warning">historia</span>
            </span>
            <h2 style="margin-top: 50px;" class="text-warning">Obtén 15 días gratis de las mejores señales</h2>
            <span style="margin-top: 20px;">y contaras un bono en dólares para crear <span class="text-warning">capital </span>desde tu telefono
          </span>
        </div>
        <br>
        <div align="center">
          <button mat-button matStepperNext class="btn-success rounded-pill azulDegradado btnAccionGrande">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Terminos y condiciones</ng-template>
            <div class="textoLargo ">
                <div class="text-break">
                    Bienvenido a <strong>Undervisa Master Trading </strong>
                    (compañia prestadora de servicios de operación, asesoramiento en trading, canal de señales y social marketing), nombrada de aquí en adelante para estos términos y condiciones  como la compañía, a la cual nos complace que tú como consumidor hagas parte de nuestra comunidad, a sopena de estos términos de servicio y la política de privacidad, los cuales usted expresa su consentimiento y aceptación, de lo contrario, abstenerse de hacer uso de nuestro servicio.
                    <br>
                    La compañía se reserva el derecho de admisión y cambio o modificación de estos términos sin previo aviso.
                    <br>
                    <br>
                    <strong>1.	Obligaciones de la compañía</strong>
                    <br>
                    <strong>1.1.	Uso de datos:</strong>
                    Este sitio web garantiza que la información personal que usted envía cuenta con la seguridad necesaria, los datos ingresados por usuario no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales según la <strong>Ley 1581 de 2012  y 1 266 de 2008</strong>, donde se estipulan los derechos y deberes con el tratamiento de los mismos.
                    <br>
                    <br>
                    <strong>1.2.	Proveer señales:</strong> se enviará señales al <strong>consumidor</strong>, en los días que el mercado esté apto para operar según el análisis realizado por el trader. Con un  mínimo de dos señales diarias, para asi lograr que obtengas un ingreso en la  cuenta del cliente.
                    <br>
                    <br>
                    <strong>Se brindara a los clientes videos iniciales para educarlos en la copia de señales y a la ves se emviara diario infogramas el cual les ayudara a obtener un mejor beneficio y contaran con un sevicio al cliente en de 16 horas en un horario de 6am a 9 pm.</strong>
                </div>
            </div>
            <div align="center">
          <button mat-button matStepperPrevious class="btn-danger rounded-pill  btnAccionSmall">Anterior</button>
          <button mat-button matStepperNext class="btn-success rounded-pill btnAccionSmall">Acepto</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Datos Basicos</ng-template>
      <br>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="registro.nombres" placeholder="Nombres" type="text" required>
    </mat-form-field>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="registro.apellidos" placeholder="Apellidos" type="text" required>
      </mat-form-field>
      <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="registro.telefono" placeholder="Telefono" type="number" required>
      </mat-form-field>
      <mat-form-field class="datos col-md-4 col-sm-6">
          <input matInput [(ngModel)]="registro.fechaNacimiento" placeholder="Fecha de Nacimiento" type="date" required>
      </mat-form-field>
      <mat-form-field class="datos col-md-4 col-sm-6">
            <input matInput [(ngModel)]="registro.email" placeholder="Correo" type="email" required>
      </mat-form-field>
      <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="registro.clave" placeholder="Contraseña" type="password" required>
      </mat-form-field>
    <div align="center">
        <button mat-button (click)="registrar()" (click)="siguiente()" type="submit" class="btn-success rounded-pill btnAccionSmall">Siguiente</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-horizontal-stepper #stepper class="transparente" *ngIf="paso === 2">
      <mat-step>
        <form >
          <ng-template matStepLabel >Apertura de cuenta</ng-template>
          <br>
          <div class="embed-responsive embed-responsive-16by9">

              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
          <br>
          <div align="center">
            <button mat-button matStepperNext class="btn-success rounded-pill azulDegradado btnAccionGrande">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form>
          <ng-template matStepLabel>Anclar cuenta</ng-template>
          <div class="embed-responsive embed-responsive-16by9">

              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
              <div align="center">
             <button mat-button matStepperNext class="btn-success rounded-pill btnAccionSmall">siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>¿Como copiar señales?</ng-template>
        <br>
        <div class="embed-responsive embed-responsive-16by9">

            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
      <div align="center">
          <button mat-button (click)="siguiente()" type="submit" class="btn-success rounded-pill btnAccionSmall">Siguiente</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
</div>
</div>
