<!-- <div align="center" style="margin-top: 30px;" >
    <h4 class="text-warning">Dile SI</h4>
    <span>a todo lo que te imaginas para ser el dueño de tu propia
      <span class="text-warning">historia</span>
    </span>
    <h2 style="margin-top: 50px;" class="text-warning">Obtén 15 días gratis de las mejores señales</h2>
    <span style="margin-top: 20px;">y contaras un bono en dólares para crear <span class="text-warning">capital </span>desde tu telefono
  </span>
</div>

 -->
<div class="row m-2 justify-content-center">
    <div class="col-md-5 col-xl-4 col-sm-12 col-lg-4 p-2">
        <div class="p-1 shadow rounded" align="center">
          <div class="row">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="col-12" value="Registro">
                <mat-button-toggle mat-flat-button value="Ingreso" routerLink="/logueo" class="col-6 lineaPuntoAmarilloDer m-0 btn-outline-danger">
                    Ingreso
                </mat-button-toggle>
            <mat-button-toggle mat-flat-button value="Registro" routerLink="/registro" class="col-6 btn-outline-danger">
              <div class="col-6">
                  Registro
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>
          </div>
            <div class="col-12 p-0 m-0">
                <hr class="lineaPuntoAmarillo m-0">
            </div>
            <!--caja de logo-->
            <div class="p-0">
                <img src="../../assets/icons/icon-152x152.png" alt="LogoUndervisa">
            </div>
            <!-- fin caja de logo-->
            <form [formGroup]="formRegistro" align="center" class="mt-1 text-white">
                <!--Inicio Nombre  -->
                <mat-form-field class="form-group col-12 bg-transparent">
                  <div class="form-control rounded-pill bg-transparent sobraActivo text-white">
                    <input class="bg-transparent " matInput placeholder="Nombres" type="text" formControlName="nombres" required>
                  </div>
                  <mat-error *ngIf="formRegistro.controls.nombres.invalid">{{errorNombres()}}</mat-error>
                </mat-form-field>
                <!--Fin Nombre      -->
                <!--Inicio Apellido -->
                <mat-form-field class="form-group col-12 bg-transparent">
                  <div class="form-control rounded-pill bg-transparent sobraActivo text-white">
                    <input matInput formControlName="apellidos" placeholder="Apellidos" type="text" required>
                  </div>
                  <mat-error *ngIf="formRegistro.controls.apellidos.invalid">{{errorApellidos()}}</mat-error>
                </mat-form-field>
                <!--Fin Apellido    -->
                <!--Inicio telefono -->
                <mat-form-field class="form-group col-12 bg-transparent">
                  <div class="form-control rounded-pill bg-transparent sobraActivo text-white">
                    <input matInput formControlName="telefono" placeholder="Telefono" type="number" required>
                  </div>
                  <mat-error *ngIf="formRegistro.controls.telefono.invalid">{{errorTelefono()}}</mat-error>
                </mat-form-field>
                <!--Fin telefono           -->
                <!--Inicio fechaNacimiento -->
                <mat-form-field class="form-group col-12 bg-transparent">
                  <div class="form-control rounded-pill bg-transparent sobraActivo text-white">
                    <input matInput formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento"
                    type="date" required>
                </div>
                <mat-error *ngIf="formRegistro.controls.fechaNacimiento.invalid">{{errorFechaNacimiento()}}</mat-error>
                </mat-form-field>
                <!--Fin fechaNacimiento           -->
                <!--Inicio email -->
                <mat-form-field class="form-group col-12 bg-transparent">
                  <div class="form-control rounded-pill bg-transparent sobraActivo text-white">
                    <input matInput formControlName="email" placeholder="Correo" type="email" required>
                  </div>
                    <mat-error *ngIf="formRegistro.controls.email.invalid">{{errorCorreo()}}</mat-error>
                </mat-form-field>
                <!--Fin email           -->
                <!--Inicio clave -->
                <mat-form-field class="form-group col-12 bg-transparent">
                  <div class="form-control rounded-pill bg-transparent sobraActivo text-white">
                    <input matInput formControlName="clave" placeholder="Contraseña" type="password" required>
                  </div>
                  <mat-error *ngIf="formRegistro.controls.clave.invalid">{{errorClave()}}</mat-error>
                </mat-form-field>
                <!--Fin clave           -->
                <!-- Inicio botones formulario -->
                <div class="col-12">
                  <!-- Inicio boton inicio de sesion -->
                    <button mat-button mat-raised-button [disabled]="formRegistro.invalid" (click)="registrar()" type="submit" class="btn-block rounded-pill btn-warning sobraActivoAmarillo">Registrar</button>
                  <!-- Fin boton inicio de sesion -->
                </div>
            </form>
        </div>
    </div>
</div>
