    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="senal.grupoDivisa" placeholder="grupoDivisa" type="text"
        [matAutocomplete]="auto" required>
        <mat-autocomplete >
            <mat-option *ngFor="let divisa of divisas" [value]="divisa">
              {{divisa}}
            </mat-option>
          </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="senal.lotaje" placeholder="lotaje" type="number"
        required>
    </mat-form-field>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="senal.orden" placeholder="orden" type="text" [formControl] ="FOrden" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let orden of ordenes" [value]="orden">
              {{orden}}
            </mat-option>
          </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="senal.precioEntrada" placeholder="precioEntrada" type="text" required>
    </mat-form-field>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="senal.sl" placeholder="sl" type="text" required>
    </mat-form-field>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="senal.tp1" placeholder="tp1" type="text" required>
    </mat-form-field>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="senal.tp2" placeholder="tp2" type="text" required>
    </mat-form-field>
    <mat-form-field class="datos col-md-4 col-sm-6">
        <input matInput [(ngModel)]="senal.tp3" placeholder="tp3" type="text" required>
    </mat-form-field>
    <ng-container>
        <button id="btnNuevo" mat-fab (click)="guardarSenal()" routerLink="/deshboard">guardar</button>
      </ng-container>
