<div class="contenidoApp">
    <br>
    <div class="col-md-12 text-center text-white moradoDegradado fixed-top">
        <h1>Nueva Señal</h1>
    </div>
    <br>
  <div class="container ">
      <div  class="row justify-content-center">
        <form align="center" [formGroup]="FCrearSenal" class="col-md-12 col-xl-12 col-sm-12 text-white">
            <!--Inicio Grupo Divisas -->
            <br>
            <mat-form-field class="form-group col-md-6 col-xl-6 col-sm-12">
              <div class="form-control rounded-pill">
                <mat-select placeholder="Grupo Divisas" formControlName="grupoDivisa">
                  <div *ngFor="let i of divisas">
                      <mat-option value="{{i}}">{{i}}</mat-option>
                  </div>
                </mat-select>
              </div>
              <mat-error *ngIf="FCrearSenal.controls.grupoDivisa.invalid">{{errorGrupoDivisa()}}</mat-error>
            </mat-form-field>
            <!--Fin Grupo Divisas -->
            <!--Inicio Lotaje     -->
            <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
              <div class="form-control rounded-pill">
                <input matInput formControlName="lotaje"  placeholder="Lotaje" type="number" step=0.01  required>
              </div>
                  <mat-error *ngIf="FCrearSenal.controls.lotaje.invalid">{{errorLotaje()}}</mat-error>
            </mat-form-field>
            <!--Fin Lotaje      -->
            <!--Inicio orden     -->
            <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
                <div class="form-control rounded-pill">
                  <mat-select placeholder="Orden" formControlName="orden">
                    <div *ngFor="let i of ordenes">
                        <mat-option value="{{i}}">{{i}}</mat-option>
                    </div>
                  </mat-select>
                </div>
                <mat-error *ngIf="FCrearSenal.controls.grupoDivisa.invalid">{{errorOrden()}}</mat-error>
              </mat-form-field>
              <!--Fin orden      -->
              <!--Inicio orden     -->
              <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
                <div class="form-control rounded-pill">
                  <input matInput formControlName="precioEntrada"  placeholder="Precio Entrada" type="number" required>
                </div>
                    <mat-error *ngIf="FCrearSenal.controls.precioEntrada.invalid">{{errorPrecioEntrada()}}</mat-error>
              </mat-form-field>
              <!--Fin orden      -->
              <!--Inicio sl1     -->
              <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
                  <div class="form-control rounded-pill">
                    <input matInput formControlName="sl1"  placeholder="Primero Stop Loss" type="number" required>
                  </div>
                      <mat-error *ngIf="FCrearSenal.controls.sl1.invalid">{{errorSl1()}}</mat-error>
                </mat-form-field>
                <!--Fin sl1      -->
                <!--Inicio sl2     -->
              <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
                  <div class="form-control rounded-pill">
                    <input matInput formControlName="sl2"  placeholder="Segundo Stop Loss" type="number" required>
                  </div>
                      <mat-error *ngIf="FCrearSenal.controls.sl2.invalid">{{errorSl2()}}</mat-error>
                </mat-form-field>
                <!--Fin sl2      -->
                <!--Inicio sl3     -->
              <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
                  <div class="form-control rounded-pill">
                    <input matInput formControlName="sl3"  placeholder="Tercero Stop Loss" type="number" required>
                  </div>
                      <mat-error *ngIf="FCrearSenal.controls.sl3.invalid">{{errorSl3()}}</mat-error>
                </mat-form-field>
                <!--Fin sl3      -->
                <!--Inicio sl4     -->
                <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
                  <div class="form-control rounded-pill">
                    <input matInput formControlName="sl4"  placeholder="Cuarto Stop Loss" type="number" required>
                  </div>
                      <mat-error *ngIf="FCrearSenal.controls.sl4.invalid">{{errorSl4()}}</mat-error>
                </mat-form-field>
                <!--Fin sl4      -->
                <!--Inicio tp     -->
                <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
                    <div class="form-control rounded-pill">
                      <input matInput formControlName="tp"  placeholder="Take Proffit" type="number" required>
                    </div>
                        <mat-error *ngIf="FCrearSenal.controls.tp.invalid">{{errorTp()}}</mat-error>
                </mat-form-field>
                  <!--Fin tp     -->
                              <!--Sl activo     -->
            <mat-form-field class="form-group col-md-6 col-sm-12 col-xl-6 ">
                <div class="form-control rounded-pill">
                  <mat-select placeholder="SlActivo" formControlName="slActivo" required>
                    <div *ngFor="let i of slActivo">
                        <mat-option value="{{i}}">{{i}}</mat-option>
                    </div>
                  </mat-select>
                </div>
                <mat-error *ngIf="FCrearSenal.controls.slActivo.invalid">{{errorSlActivo()}}</mat-error>
              </mat-form-field>
            <!--Sl activo     -->
                <div class="row" align="center">


                <!--Inicio Activo -->
                <div class="col-md-6 col-sm-12 col-xl-6 ">
                    <label>Estado: </label>
                    <br>
                    <mat-checkbox [required] formControlName="estado">Activo</mat-checkbox>
                    <!-- <mat-error *ngIf="FCrearSenal.controls.tp3.invalid">{{errorEstado()}}</mat-error> -->
                </div>
                <!--Fin Activo-->
                  <div class="col-md-6 col-sm-12">
                    <label>Tipo de Señal: </label>
                    <br>
                    <mat-radio-group formControlName="tipo">
                      <mat-radio-button value="Premium">Premium</mat-radio-button>
                      <mat-radio-button value="Free">Free</mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-error *ngIf="FCrearSenal.controls.tp3.invalid">{{errorTipo()}}</mat-error> -->
                  </div>
                </div>
                <ng-container class="btnCentro">
                    <button  class="sobraActivoAmarillo" mat-fab routerLink="/deshboard"><i class="material-icons">
                        undo
                        </i>
                    </button>
                    <button [disabled]="FCrearSenal.invalid" class="sobraActivoAmarillo" mat-fab (click)="guardarSenal()" routerLink="/deshboard"><i class="material-icons">
                        save
                        </i></button>
                </ng-container>
        </form>
      </div>
    </div>
</div>
