<div class="contenidoApp">
    <br>
    <div class="col-md-12 text-center text-white moradoDegradado fixed-top">
        <h1>Nueva Señal</h1>
    </div>
    <br>
  <div class="container ">
      <div  class="row justify-content-center">
        <form align="center" [formGroup]="FCrearSenal" class="col-md-12 col-xl-12 col-sm-12">
            <!--Inicio Grupo Divisas -->
            <br>
            <mat-form-field class="form-group col-6">
              <div class="form-control rounded-pill">
                <mat-select placeholder="Grupo Divisas" formControlName="grupoDivisa">
                  <div *ngFor="let i of divisas">
                      <mat-option value="{{i}}">{{i}}</mat-option>
                  </div>
                </mat-select>
              </div>
              <mat-error *ngIf="FCrearSenal.controls.grupoDivisa.invalid">{{errorGrupoDivisa()}}</mat-error>
            </mat-form-field>
            <!--Fin Grupo Divisas -->
            <!--Inicio Lotaje     -->
            <mat-form-field class="form-group col-6">
              <div class="form-control rounded-pill">
                <input matInput formControlName="lotaje"  placeholder="Lotaje" type="number" required>
              </div>
                  <mat-error *ngIf="FCrearSenal.controls.lotaje.invalid">{{errorLotaje()}}</mat-error>
            </mat-form-field>
            <!--Fin Lotaje      -->
            <!--Inicio orden     -->
            <mat-form-field class="form-group col-6">
                <div class="form-control rounded-pill">
                  <mat-select placeholder="Orden" formControlName="orden">
                    <div *ngFor="let i of ordenes">
                        <mat-option value="{{i}}">{{i}}</mat-option>
                    </div>
                  </mat-select>
                </div>
                <mat-error *ngIf="FCrearSenal.controls.grupoDivisa.invalid">{{errorOrden()}}</mat-error>
              </mat-form-field>
              <!--Fin orden      -->
              <!--Inicio orden     -->
              <mat-form-field class="form-group col-6">
                <div class="form-control rounded-pill">
                  <input matInput formControlName="precioEntrada"  placeholder="Precio Entrada" type="number" required>
                </div>
                    <mat-error *ngIf="FCrearSenal.controls.precioEntrada.invalid">{{errorPrecioEntrada()}}</mat-error>
              </mat-form-field>
              <!--Fin orden      -->
              <!--Inicio sl     -->
              <mat-form-field class="form-group col-6">
                  <div class="form-control rounded-pill">
                    <input matInput formControlName="sl"  placeholder="Stop Loss" type="number" required>
                  </div>
                      <mat-error *ngIf="FCrearSenal.controls.sl.invalid">{{errorSl()}}</mat-error>
                </mat-form-field>
                <!--Fin sl      -->
                <!--Inicio tp1     -->
              <mat-form-field class="form-group col-6">
                  <div class="form-control rounded-pill">
                    <input matInput formControlName="tp1"  placeholder="Primer Take Proffit" type="number" required>
                  </div>
                      <mat-error *ngIf="FCrearSenal.controls.tp1.invalid">{{errortp1()}}</mat-error>
                </mat-form-field>
                <!--Fin tp1      -->
                <!--Inicio tp2     -->
              <mat-form-field class="form-group col-6">
                  <div class="form-control rounded-pill">
                    <input matInput formControlName="tp2"  placeholder="Segundo Take Proffit" type="number" required>
                  </div>
                      <mat-error *ngIf="FCrearSenal.controls.tp2.invalid">{{errortp2()}}</mat-error>
                </mat-form-field>
                <!--Fin tp2      -->
                <!--Inicio tp3     -->
                <mat-form-field class="form-group col-6">
                  <div class="form-control rounded-pill">
                    <input matInput formControlName="tp3"  placeholder="Tercer Take Proffit" type="number" required>
                  </div>
                      <mat-error *ngIf="FCrearSenal.controls.tp3.invalid">{{errortp3()}}</mat-error>
                </mat-form-field>
                <!--Fin tp3      -->
                <div class="row" align="center">


                <!--Inicio Activo -->
                <div class="col-6">
                    <label>Estado: </label>
                    <br>
                    <mat-checkbox [required] formControlName="estado">Activo</mat-checkbox>
                    <!-- <mat-error *ngIf="FCrearSenal.controls.tp3.invalid">{{errorEstado()}}</mat-error> -->
                </div>
                <!--Fin Activo-->
                  <div class="col-6">
                    <label>Tipo de Señal: </label>
                    <br>
                    <mat-radio-group formControlName="tipo">
                      <mat-radio-button value="Premium">Premium</mat-radio-button>
                      <mat-radio-button value="Free">Free</mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-error *ngIf="FCrearSenal.controls.tp3.invalid">{{errorTipo()}}</mat-error> -->
                  </div>
                </div>
                <ng-container>
                    <button id="btnNuevo" mat-fab (click)="guardarSenal()" routerLink="/deshboard">guardar</button>
                  </ng-container>
        </form>
      </div>
    </div>
</div>
